body {
    margin: 0;
    padding: 0;
}
#slider {
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    height: 200px;
    transition: all 60s linear;
}

#slider div img {
    height: 100%;
    display: block;
    margin-right: 20px;
}

.a, .b {
   display: flex;
   height: 100%;
}