body {
    background-color: black;
}

#canvas {
    width: 1366px;
    height: 768px;
    min-width: 800px;
    margin: auto;
    display:flex; 
    flex-direction: column;
    background-color:black;
    position: relative;
}

figure {
	display: block;
	margin: 0;
	width: 1366px;
    height: 768px;
	position: fixed;
	top:0;
	overflow: hidden;
}

figure img {
    transition:transform 2s ,width 2s;
    transition-timing-function: ease-in-out;
    
}

.state-main {
    position: absolute;
    width: 100%;
    
}

.fade {
    display: block;
	margin: 0;
	width: 1366px;
    height: 768px;
	position: fixed;
	top:0;
    opacity: 0;
    transition: opacity 2s;
    transition-timing-function: linear;
}

/* GRADIENT LOCATIONS START */
.engine {
    opacity: 1;
    background: radial-gradient(circle at 36% 43%, rgba(255,255,255,0) 1%,rgba(133,133,133,0) 1%,rgba(0,0,0,1) 100%);
}

.tank {
    opacity: 1;
    background: radial-gradient(circle at 68% 50%, rgba(255,255,255,0) 1%,rgba(133,133,133,0) 1%,rgba(0,0,0,1) 100%);
}

.exhaust {
    opacity: 1;
    background: radial-gradient(ellipse at 40% 60%, rgba(255,255,255,0) 1%,rgba(133,133,133,0) 1%,rgba(0,0,0,1) 100%);
}

.rwheel {
    opacity: 1;
    background: radial-gradient(circle at 20% 40%, rgba(255,255,255,0) 1%,rgba(133,133,133,0) 1%,rgba(0,0,0,1) 100%);
}

.fwheel {
    opacity: 1;
    background: radial-gradient(circle at 60% 60%, rgba(255,255,255,0) 1%,rgba(133,133,133,0) 1%,rgba(0,0,0,1) 100%);
}

.brake {
    opacity: 1;
    background: radial-gradient(circle at 65% 35%, rgba(255,255,255,0) 1%,rgba(133,133,133,0) 1%,rgba(0,0,0,1) 100%);
}

.headlight {
    opacity: 1;
    background: radial-gradient(circle at 33% 47%, rgba(255,255,255,0) 1%,rgba(133,133,133,0) 1%,rgba(0,0,0,1) 100%);
}

.speedometer {
    opacity: 1;
    background: radial-gradient(circle at 23% -10%, rgba(255,255,255,0) 1%,rgba(133,133,133,0) 1%,rgba(0,0,0,1) 100%);
}

.seat {
    opacity: 1;
    background: radial-gradient(ellipse at 30% 65%, rgba(255,255,255,0) 1%,rgba(133,133,133,0) 1%,rgba(0,0,0,1) 100%);
}

/* GRADIENT LOCATIONS END */


.state-engine {
    width: 200%;
    transform:translateX(-15%) translateY(-33.5%);
}

.state-tank {
    width: 220%;
    transform:translateX(-10%) translateY(-3%);
}

.state-exhaust {
    width: 240%;
    transform: translateY(-20%);
}

.state-exhaust {
    width: 240%;
    transform: translateY(-20%);
}

.state-rwheel {
    width: 230%;
    transform: translateX(0%) translateY(-48%);
}

.state-fwheel {
    width: 200%;
    transform: translateX(-38%) translateY(-48%);
}

.state-brake {
    width: 300%;
    transform: translateX(-48%) translateY(-64%);
}

.state-headlight {
    width: 250%;
    transform: translateX(-48%) translateY(-2%);
}

.state-headlight {
    width: 250%;
    transform: translateX(-48%) translateY(-2%);
}

.state-speedometer {
    width: 280%;
    transform: translateX(-50%) translateY(0%);
}

.state-seat {
    width: 300%;
    transform: translateX(-8%) translateY(-8%);
}

.sect {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: opacity 350ms;
    transition-timing-function: linear;
    visibility: visible;
}

.sect:hover {
    opacity: 0.2;
}
   
#engine {
    width: 26.5%;
    top: 285px;
    left: 245px;
}

#tank {
    width: 21.5%;
    top: 120px;
    left:410px;
}

#exhaust {
    width: 29%;
    top: 247px;
    left:7px;
}

#rwheel {
    width: 18%;
    top: 368px;
    left:8px;
}
#fwheel {
    width: 34%;
    bottom: 0;
    right: 160px;
}

#brake {
    width: 16.2%;
    bottom: 0px;
    right: 288px;
}

#headlight {
    width: 11.3%;
    top: 85px;
    right: 450px;
}

#speedometer {
    width: 8.2%;
    top: 10px;
    right: 510px;
}

#seat {
    width: 20.2%;
    top: 187px;
    left: 138px;
}

.btn{
    display: inline-block;
    position: absolute;
    right: 1vw;
    bottom: 45%;
    width: 100px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #000000;/*Button Color*/
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border: 0;
    border-bottom: solid 5px #333333;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.801);
}

.btn:hover {
    border-bottom: solid 3px #333333;
}

.btn:active   {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: solid 0px #333333;
    text-shadow: none;
    
}

.active {
    color: red;
    text-shadow: 1px 1px 1px rgba(253, 153, 153, 0.801);
}

.inactive {
    color: white;
}

footer {
    position: relative;
    top: 0;
    left: 0;
    width: 1366px;
    text-align:center;
    margin-top:auto; 
    padding: 10px;
    background-color:black;
    font-family: 'Nixie One', cursive;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

footer a:hover {
    text-decoration: underline;
    font-size: 12px;

    transition: all 0.3s;
}