#canvas {
    width: 1366px;
    height: 768px;
    min-width: 800px;
    margin: auto;
    border: 1px solid black;
    display:flex; 
    flex-direction:column;
    
}

#banner {
    width: 1100px;
    height: 250px;
    border: 1px solid black;
    margin: auto;
    
}

main {
    display: flex;
    margin-top: 25px;
}

#section {
    width:27%;
    height: 300px;;
    border: 1px solid black;
    margin: auto;
}

footer {
    border: 1px solid black;
    text-align:center;
    margin-top:auto; 
    padding: 10px;
}

li {
    list-style-type: none;
}