/* CORE CSS */
#button-container {
  perspective: 1000px;
}
/* Container box to set the sides relative to */
.cube {
  width: 250px;
  height: 100px;
  transition: all 250ms ease;
  transform-style: preserve-3d;
}
/* The two faces of the cube */
.default-state,
.active-state {
  height: 100px;
}
/* Position the faces */
.default-state {
  transform: translateZ(50px);
}

.cube .active-state {
  transform: rotateX(-90deg) translateZ(-50px);
}

/* Rotate the cube */

.cube.flip {
  transform: rotateX(89deg);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #f1f1f1;
}
h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
.cube {
  text-align: center;
  margin: 0 auto;
}
.default-state,
.active-state {
  background: #2ecc71;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  line-height: 100px;
  transition: background 250ms ease;
}
.cube:hover .default-state {
  background: #27af61;
}
.active-state {
  background: #27af61;
}

/******** form styles *******/
label {
	display:block;
	margin:auto;
	width:250px;
	text-align:center;
	margin-bottom:5px;
}

input {
	padding:5px;
	border:none;
}

input:focus {
	outline:none;
}

.currency {
	padding:5px;
	background:#fff;
	border:1px solid #ccc;
	display:block;
	width:250px;
	margin:auto;
}

#hearts {
	width:200px;
	height:100px;
	margin:auto;
}

