body {
    background-color: black;
}

#canvas {
    position: relative;
    background-image: url('images/background.jpeg');
    background-size: 1366px 768px;
    width: 1366px;
    height: 768px;
    min-width: 800px;
    overflow: hidden;
    margin: auto;
    background-color: green;
}

header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 5%;
    line-height: 2.2;
    background-color: rgb(31, 31, 31);
    font-family: 'Nixie One', cursive;
    font-family: 'Sunflower', sans-serif;
    display:flex;
}

header img{
    height: 30px;
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5%;
}

#options {
    position: relative;
    transform: translate(1130px);
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.func {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#players_zones{
    width: 100%;
    height: 61.25%;
    min-width: 800px;
    display: flex;
    text-align: center;
    margin-bottom: 0.7%;
}

.name{
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    top: 10%;
    color: white;
    transition: 0.2s;
    text-shadow: 0 0 5px white, 0 0 12px #00996d;
}

.pass{
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    font-size: 200px;
    top: 25%;
    left: 2%;
    color: white;
    text-shadow: 0 0 5px white, 0 0 12px #00996d;
}

.score{
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-size: 200px;
    top: 13%;
    color: white;
    transition: 0.2s;
    text-shadow: 0 0 5px white, 0 0 12px #00996d;
}

.font-flash {
    animation-name: font-flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes font-flash {
    0%{
        color: white;
        text-shadow: 0 0 5px white, 0 0 12px white;
    }
    50%{
        color: #00996d;
        text-shadow: 0 0 5px white, 0 0 12px #00996d;
    }
    100%{
        color: white;
        text-shadow: 0 0 5px white, 0 0 12px white;

    }
}

#player_1_zone{
    z-index: 1;
    width:50%;
    height: 100%;
    position: relative;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.239); */
}

#player_2_zone{
    z-index: 1;
    position: relative;
    width:50%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.239); */
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#dice_zone{
    position: relative;
    z-index: 1;
    left:42.38%;
    width: 15.4%;
    height: 27.48%;
    text-align: center;
    cursor: pointer;
}

#roll{
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    top: 34%;
    color: white;
}

footer {
    position: relative;
    z-index: 1;
    height: 5%;
    text-align:center;
    font-family: 'Sunflower', sans-serif;

    /* font-family: 'Nixie One', cursive; */
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
    line-height: 3;

    background-color: rgb(0, 0, 0);
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

footer a:hover {
    text-decoration: underline;
    font-size: 12px;
    transition: all 0.3s;
}

h1 {
    color:white;
    margin: 0;
    font-size: large;
}

button { 
    padding: 10px;
}

.obj{
    position: absolute;
    z-index: 0;
    height: 20px;
    width: 20px;
    background-color:#01986d;
    border-radius: 50%;
    animation-name: flash;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0%{
        background-color: #01986d;
        box-shadow: #01986d 0px 0px 0px 0px;
    }
    50%{
        background-color: #01fab3;
        box-shadow: #01fab3 0px 0px 10px 10px ;
    }
    100%{
        background-color: #01986d;
        box-shadow: #01986d 0px 0px 0px 0px;
    }
}

.blink {
    animation-name: blink;
    animation-duration: 0.2s;
    animation-iteration-count: 1;

}
@keyframes blink {
    0%{
        background-color: #01986d;
        box-shadow: #01986d 0px 0px 0px 0px;
    }
    50%{
        background-color: #ffffff;
        box-shadow: #ffffff 0px 0px 10px 10px ;
    }
    100%{
        background-color: #01986d;
        box-shadow: #01986d 0px 0px 0px 0px;
    }
}

#obj0{
    top: 120px;
    left: 674px;
}

#obj1{
    top: 188px;
    left: 62px;
}

#obj2{
    top: 319px;
    left: 49px;
}

#obj3{
    top: 55px;
    left: 351px;
}

#obj4{
    top: 229px;
    left: 327px;
}

#obj5{
    top: 358px;
    left: 324px;
}

#obj6{
    top: 523px;
    left: 311px;
}

#obj7{
    top: 705px;
    left: 311px;
}

#obj8{
    top: 234px;
    left: 483px;
}

#obj9{
    top: 317.5px;
    left: 425px;
}

#obj10{
    top: 439px;
    left: 460px;
}

#obj11{
    top: 591px;
    left: 525px;
}

#obj12{
    top: 639px;
    left: 526px;
}

#obj13{
    top: 730px;
    left: 548px;
}

#obj14{
    top: 450px;
    left: 572px;
}

#obj15{
    top: 463px;
    left: 674px;
}

#obj16{
    top: 384px;
    left: 702px;
}

#obj17{
    top: 384px;
    left: 702px;
}

#obj18{
    top: 317px;
    left: 842px;
}

#obj19{
    top: 432px;
    left: 789px;
}

#obj20{
    top: 492px;
    left: 801px;
}

#obj21{
    top: 595px;
    left: 812px;
}

#obj22{
    top: 700px;
    left: 810px;
}

#obj23{
    top: 669px;
    left: 970px;
}

#obj24{
    top: 596px;
    left: 1093px;
}

#obj25{
    top: 213px;
    left: 1242px;
}

#obj26{
    top: 168px;
    left: 1364px;
}

#obj27{
    top: 270px;
    left: 1361px;
}

.dice{
    z-index: 0;
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
    background-color: white;
    box-shadow: white 0px 0px 6px 2px;
    opacity: 1;
}

#dice-grid{
    position: absolute;
    z-index: 0;
    top: 545px;
    left: 43.75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 40px;
    grid-auto-rows: minmax(500px, 5);
}

.dice-blink {
    animation-name: dice-blink;
    animation-duration: 0.2s;
    animation-iteration-count: 1;

}
@keyframes dice-blink {
    0%{
        background-color: white;
        box-shadow: white 0px 0px 6px 2px ;
    }
    50%{
        background-color: #01986d;
        box-shadow: #01986d 0px 0px 6px 2px ;
    }
    100%{
        background-color: white;
        box-shadow: white 0px 0px 6px 2px ;
    }
}

#welcome {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 90%;
    background-color: black;
    color: white;
    font-family: 'Sunflower', sans-serif;
    text-align: center;
    font-size: 30px;
}

#welcome p:first-child{
    padding-top: 1%;

}

#welcome p{
    padding-left: 10%;
    padding-right: 10%;
}

.button{
    width: 10%;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

#setup {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 90%;
    background-color: black;
    color: white;
    font-family: 'Sunflower', sans-serif;
    font-size: 30px;
}

#setup p:first-child{
    padding-top: 5%;
}

#setup p{
    padding-left: 10%;
    padding-right: 10%;
}

#play-button{
    position: absolute;
    left: 45%;
}

#return-button{
    position: absolute;
    left: 45%;
}

.in{
    margin-left: 1%;
    margin-top: 1%;
    height: 50px;
    border: none;
    border-bottom: 3px solid #00996d;
    background-color: black;
    color: white;
}

input[type=text]:focus {
    outline: none !important;
    height: 50px;

    border:3px solid #00996d;
    box-shadow: 0 0 10px white;
  }

#game-point-in{
    margin-left: 4.45%;
    width: 70px;
}

/* Customize the label (the container) */
.container {
    position: relative;
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    top: 0.6vh;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -30%;
    left: 234%;
    height: 35px;
    width: 35px;
    background-color: black;
    border:1px solid #00996d;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: white;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #00996d;
    box-shadow: 0 0 10px white;

  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    top: 5%;  
    left: 26.4%;
    width: 14px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #game-over {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 90%;
    background-color: black;
    color: white;
    font-family: 'Sunflower', sans-serif;
    font-size: 30px;
    text-align: center;
}

#again-button{
    width: 17%;
}

#information {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 90%;
    background-color: black;
    color: white;
    font-family: 'Sunflower', sans-serif;
    text-align: left;
    font-size: 30px;
}

#information p:first-child{
    padding-top: 1%;
    text-align: center;
}

ul {
    font-size: 25px;
}

#information p{
    margin:1%;
    padding-left: 10%;
    padding-right: 10%;
}

.highlight {
    color: #00996d;
}

#continue-button{
    position: relative;
    width: 15%;
    left:43%;
}

#game-over p:first-child{
    padding-top: 5%;
}

#game-over img{
    width: 200px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;

}

.showing {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;

}

body p a {
    color: white;
    margin-left: 15%;
    font-size: 20px;;
}

#title-sources{
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 40px;
}